* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;

	
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;

}

h4, h5, p, ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


header {
	color: #545454;
}

header a {
	color: #545454;
	text-decoration: none;
}

.logo-menu {
	background: #ECECEC;
}

.logo-menu h2 {
	font-size: 30px;
}

.logo-menu .menu a {
	display: inline-block;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*main*/
.profile {
	color: #545454;
	margin-top: 10px;
	padding: 20px;

}
.box1 {
	margin-top: 20px;

}

.box1 img {
	width: 100%;
	border-radius: 50%;
	margin:0 auto;
}

.box2 {
	margin-top: 20px;

}
	.box2 h2 {
		font-size: 50px;

	}

	.box2 h4 {
		font-size: 30px;

	}
	.box2 p {
		text-align: justify;
		font-weight: 300;
		line-height: 30px;
		}


.habilities {
	color: #545454;
	padding: 20px;
}

.box3 {
	margin-top: 30px;
}
	.box3 p {
		text-align: justify;
		}

.box4 {
	margin-top: 30px;
}
	.box4 ul {
		margin-left: 20px;
		line-height: 30px;
	}



footer {
	color: #545454;
}

footer a {
	color: #545454;
	text-decoration: none;
}

.menu-social {
	background: #ECECEC;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.menu-social .menu a {
	display: inline-block;
	padding: 20px;
}

.menu-social .social a {
	display: inline-block;
	padding: 20px;

}








